@import "./components/example.css";
@import "./views/example.css";
@import "./components/searchbar.css";
@import "./views/recette.css";
@import "./views/login.css";
@import "components/header.css";
@import "views/signup.css";

/* ^importer tout les AUTRES fichiers css dans celui ci, ce fichier est le SEUL à être loadé dans le index.js */

@font-face {
    font-family:"JosefineSansRegular" ;
    src: url("fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}
main{
    background-color: rgb(252, 228, 208);
}
*{
    font-family: "JosefineSansRegular";
}