@keyframes slideLeft {
    from{transform: translateY(25px);}
    to{transform: translateX(0px);}
    
}
.input{
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
    margin-bottom: 20px;
}
.container{
    display:flex;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.recettesContainer{
    display:flex;
    flex-wrap: wrap;

}
.RecetteCardContainer{
    animation: 0.5s ease-in-out  slideLeft;
    width:22%;
    background: rgb(247,163,163);
    background: linear-gradient(355deg, rgba(250,220,193,1) 0%, rgba(250,212,194,1) 45%, rgba(254,174,136,1) 100%);
    margin: 15px;
    margin-left:20px;
    border-radius: 9px;
    box-shadow: -5px 5px 5px #c1c2c1;
    margin-bottom: 20px;
}
.RecetteCardContainer:hover{
    transform: scale(1.2);
}

.imageContainer img{
    max-width:100%;
    
}
/* .infoRecipeCard{
    background-color: #9DBFAF;
} */
.infoRecipeCard p{
    text-align:center;
margin: 10px;
}

