.input{
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    color: #9DBFAF;
}
.container{
    display:flex;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.recettesContainer{
    display:flex;
    flex-wrap: wrap;

}
.RecetteCardContainer{
    width:22%;
    background-color: #9DBFAF;
    margin: 10px;
    border-radius: 9px;
    box-shadow: -5px 5px 5px #c1c2c1;
}
.imageContainer img{
    max-width:100%;
    
}
.infoRecipeCard{
    background-color: #9DBFAF;
}
.infoRecipeCard p{
    text-align:center;
margin: 10px;
}